#my-navbar{
    background: transparent;
}
.t1{
height: 700px;    
    background: url(../img/img/galactic-night-sky-astronomy-science-combined-generative-ai_188544-9656.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 150px;

}
.t2{
    padding-left: 180px;
}
.t3{
    background: rgba(255, 255, 255, 0.589);
    color: black;
}
.t4{
    background: rgba(255, 255, 255, 0.589);
    color: black;
    padding: 30px;
}
.t5{
    background: rgba(255, 0, 0, 0.726);
    padding: 25px;
}
.contenu{
    padding-left: 200px;
    padding-right: 200px;
}
.sec1{
    padding: 50px;
}
.fond1{
    background: url(../img/260711-plage-43.jpg);
    background-size: cover;
    color: white;
    padding: 80.px;
}
.m2{
    padding: 50px;
}
.m3{
    padding: 50px;
}
.btn{
    color: black;
}
.mit{
    background: url(../img/260711-plage-43.jpg);
    background-size:100% 100%;
    padding-top: 50px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}
.momo{
    padding: 50px;
}
.miel{
    background-image: url(../img/img/CITYSCAPE1142023.png);
    background-size:100% 100%;
    padding-top: 200px;

}
.miel2{
    background-image: url(../img/img/lake-blue-moonlight-moon-wallpaper-preview.jpg);
    background-size:100% 100%;
    padding-top: 200px;

}
.mil{
  background-color: beige;
height: 200px;

}